<secured permitted="permitted">

  <div class="panel panel-success">

    <div class="panel-heading">
      <h3 class="panel-title">Create/remove API key for {{user.email}}</h3>
    </div>

    <div class="panel-body" ng-if="apiKey != null">

      <dl class="dl-horizontal">
        <dt>API key</dt>
        <dd>{{apiKey}}</dd>
        <dt></dt>
        <dd class="text-danger">Please note that it's visible only one time. So, copy it somewhere. If you lose it, you'll have to recreate an API key, which'll be a different one.</dd>
      </dl>

    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" ng-click="createApiKey()">Create API key</button>
      <button class="btn btn-default" ng-click="removeApiKey()">Remove API key</button>
    </div>
  </div>
</secured>
