<div class="modal-header">
  <h3 class="modal-title">Please login</h3>
</div>
<div class="modal-body" ng-controller="LoginCtrl">

  <messages-alert messages="errors" kind="danger"></messages-alert>

  <form id="loginForm" class="form-horizontal" role="form"
        ng-submit="login()" novalidate>

    <div class="form-group">
      <label for="loginUsername" class="col-sm-3 control-label">Username</label>
      <div class="col-sm-9">
        <input ng-model="credentials.username" type="text" id="loginUsername" class="form-control" placeholder="you@example.com">
      </div>
    </div>

    <div class="form-group">
      <label for="loginPassword" class="col-sm-3 control-label">Password</label>
      <div class="col-sm-9">
        <input ng-model="credentials.password" type="password" id="loginPassword" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <div class="checkbox">
          <label>
            <input ng-model="credentials.rememberMe" type="checkbox"> Remember me
          </label>
        </div>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button ng-disabled="form.$invalid" type="submit" class="btn btn-primary" form="loginForm">OK</button>
  <button class="btn btn-default" ng-click="forgotPassword()">Forgot Password</button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
